//////////////////////////
$gutter__flag: 2em !default
//////////////////////////
@if $include__flag == true
  .flag
    display: table
    width: 100%

  .flag__aside,
  .flag__body
    display: table-cell
    vertical-align: middle
    .flag--top &
      vertical-align: top
    .flag--bottom &
      vertical-align: bottom

  .flag__aside
    .flag--spaced &
      padding-right: $gutter__flag
      &.flag--switch
        padding-right: 0
        padding-left: $gutter__flag

  .flag__body
    // fill all remaining space
    width: 100%