//////////////////////////
$gutter__grid: 2em !default
//////////////////////////
@if $include__grid == true
  .grid 
    @extend %cf
    @extend %m-0-bottom
    margin-left: 0
    list-style: none

  .grid--gutter 
    margin-left: -$gutter__grid

  .grid--gutter-large 
    margin-left: -($gutter__grid * 2)

  .grid--centered
    text-align: center

  .grid--vcentered
    vertical-align: middle

  .grid__unit
    @extend %fl
    display: block
    width: 100%

    .grid--switch &
      @extend %fr

    .grid--gutter &
      padding-left: $gutter__grid

    .grid--gutter-large  &
      padding-left: ($gutter__grid * 2)

    .grid--inline &
      @extend %inline-block
      float: none
      vertical-align: top

    .grid--centered &
      text-align: left
      [dir="rtl"] &
        text-align: right   