//////////////////////////
$gutter__media: 2em !default
//////////////////////////
.media
  @extend .cf

.media__aside
  @extend %fl
  margin-right: $gutter__media
  .media--switch &
    @extend %fr
    margin-right: 0
    margin-left: $gutter__media

.media__body
  @extend %group 
  \:last-child
    @extend %m-0-bottom
  .media--overflow &
    overflow: visible
    display: table-cell
    width: 10000px
    *width: auto
    *zoom: 1     