=link
  &:link,
  &:visited
    @content

=interaction
  &:hover,
  &:active,
  &:focus
    @content

=hide
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

=ir
  display: block
  overflow: hidden
  white-space: nowrap
  text-indent: 150%      

=unset-media($switch: false)
  .media__aside
    float: none
    @if $switch
      margin-left: 0
    @else
      margin-right: 0

=unset-grid
  .grid__unit
    float: none
    width: 100%

=unset-list
  margin-left: 0
  margin-bottom: 0
  list-style: none
  li
    margin-bottom: 0

=unset-flag($switch: false)
  display: block
  width: auto

  .flag__aside,
  .flag__body
    display: block
    width: 100%

  .flag__aside
    @if $switch
      padding-left: 0
    @else
      padding-right: 0

=clear-floats($pattern)
  &:nth-child(n)
    clear: none
  &:nth-child(#{$pattern})
    clear: both

=boost-grid-gutter($size)
  margin-left: -$size
  .grid__unit
    padding-left: -$size

=pseudo($where: before, $position: false, $xpos: left, $xposVal: 0, $ypos: top, $yposVal: 0, $margin-top: auto)
  &:#{$where}
    content: ""
    display: block
    @if $position
      position: #{$position}
      #{$xpos}: $xposVal
      #{$ypos}: $yposVal
      @if $margin-top != auto
        margin-top: $margin-top

=font-scale($sizes, $namespace: "copy", $micro_class: true)
  @each $scale in $sizes
    $current-breakpoint: nth($scale,1)
    $current-font-size: nth($scale,2)
    $base-size: $current-font-size !default  
    @if $current-breakpoint > 0
      +mq-min($current-breakpoint)
        .#{$namespace}-size
          font-size: $current-font-size
        @if $micro_class == true  
          // global micro copy
          .#{$namespace}-size__fix-size
            font-size: pct($base-size/$current-font-size)
          // modifiers
          @each $breakpoint in $sizes 
            $this-breakpoint: nth($breakpoint,1)
            $this-font-size: nth($breakpoint,2)
            @if $this-breakpoint > 0 and $this-breakpoint < $current-breakpoint
              .#{$namespace}-size__fix-size--#{$this-breakpoint}
                font-size: pct($this-font-size/$current-font-size)
    @else
      .#{$namespace}-size
        font-size: $current-font-size 