.nav
  @extend .cf
  list-style: none
  margin-left: 0

  > li
    float: left
    > a
      @extend %block

  &--inline
    > li
      float: none
      &,
      > a
        @extend %inline-block

  &--centered
    @extend %text-center

  &--stacked
    > li
      display: list-item
      > a
        @extend %block
